html{
    font-size: 30px;
}
body {
    
}
header {

}

header ul {
    
}

header ul li {
    list-style-type: lower-roman;
}

main {

}

section {
    font-size: .2em;
}

p {

}

h2 {

}